body {
    text-align:center;
    font-family:'Roboto Condensed', tahoma, sans-serif;
    margin:0;
    font-size:1.5rem;
    color:white;
}

h1 {
    margin-top:0;
    padding-top:0;
    color:royalblue;
}

#app {
    min-height:100vh;
    display:flex;
    flex-direction:column;
    align-content:center;
    justify-content:center;
    padding:30px 0;
    background: #F1F2B5;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to top, #135058, #F1F2B5);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to top, #135058, #F1F2B5); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

label {
    font-size:2rem;
    margin:30px 0;
}

#conversion {
    display:inline-block;
    padding:15px;
    background-color:black;
    color:white;
    max-width:300px;
    width:100%;
    box-sizing:border-box;
}

input {
    border:none;
    max-width:270px;
}

select {
    max-width:300px;
}

select option {
    background-color:black;
}

input, select {
    width:100%;
    margin:10px auto;
    border:1px solid gainsboro;
    padding:15px;
    font-size:1.5rem;
    font-family:'Roboto Condensed', tahoma, sans-serif;
    background-color:transparent;
    color:white;
}
